span {
  color: #9c27b0;
}
summary {
  background-color: #dd0330;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0;
  color: aliceblue;
}
.advantages {
  background-color: #003e4d;
  border-radius: 2px;
  padding: 5px;
  margin: 5px 0;
  color: aliceblue;
}
